body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #3a7bd5, #3a6073);
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

#fact {
    font-size: 18px;
    margin: 20px 0;
    max-height: 150px;
    overflow: auto;
    padding: 0 10px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3a6073;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #35596b;
    transform: translateY(-3px);
}

button:active {
    transform: translateY(1px);
}
